@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/CormorantGaramond-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/CormorantGaramond-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/CormorantGaramond-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

/*Ademas de la paleta de colores tambien se utilizara mucho la gama zinc*/
/*Para el fondo general: bg-color: zinc-800*/
@theme {
  --color-glacier-50: #f2f8f9;
  --color-glacier-100: #ddebf0;
  --color-glacier-200: #bfd9e2;
  --color-glacier-300: #7cafc4;
  --color-glacier-400: #5e98b2;
  --color-glacier-500: #437c97;
  --color-glacier-600: #3a6680;
  --color-glacier-700: #34556a;
  --color-glacier-800: #314859;
  --color-glacier-900: #2d3f4c;
  --color-glacier-950: #1a2732;

  --black: #171717;
}

@theme inline {
  --color-background: var(--black);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--black);
  color: var(--foreground);
  font-family: "Cormorant Garamond", sans-serif;
}

.logo {
  font-family: 'Fugaz One', sans-serif;
}

.custom-scrollbar {
  --sb-track-color: #232e33;
  --sb-size: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--color-glacier-700) var(--sb-track-color);
}

.custom-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 25px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-glacier-700);
  border-radius: 25px;
}
